@font-face {
    font-family: 'Minecraft';
    src: url(./fonts/Minecraft.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    list-style: none;
    font-family: 'Minecraft', sans-serif;
    text-decoration: none;
}

:root {
    --darkblue: rgb(27, 27, 27);
}

body {
    overflow-x: none;
}

/*NAVBAR START*/

#btnToggle {
    width: 1.8em;
    aspect-ratio: 1;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(./svg-icons/bars-solid.svg);
    border: none;
    font-size: 30px;
    top: 1.5rem;
    right: 10px;
    position: absolute;
    transition: all .4s ease-out;
    z-index: 9999;
}

#btnToggle[aria-expanded="true"]{
    transition: all .4s ease-in;
    position: fixed;
    width: 3rem;
    background-image: url(./svg-icons/xmark-solid.svg);
}

#navbar {
    height: 15vh;
    display: flex;
    align-items: center;

    background-color: var(--darkblue);
    color: beige;
}

#navbar p {
    width: 210px;
    height: 50px;

    position: absolute;
    left: 22%;

    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

#navicons {
    position: fixed;
    width: 250px;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: 100vh;
    background: hsl(0 0% 0% / 0.8);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in;
    z-index: 1000;
}

#navicons[data-visible="true"]{
    transform: translateX(0%);

}

#navicons .navicon {
    margin: 20px;
    padding: 10px;
    border: 4px solid #fbc71e;
}

#navicons .navicon a {
    margin-left: 10px;
    letter-spacing: 2px;
}


@supports (backdrop-filter: blur(1.5rem)) {
    #navicons {
        background: hsl(250 100% 20% / 0.1);
        backdrop-filter: blur(1.5rem);
    }

    #navicons .navicon a {
        color: black;
    }
}


/*NAVBAR END*/

/*MAIN SECTION START*/

section {
    height: 100vh;
    background-color: #bd0042;
    padding: 20px;
    text-align: center;
}

.darksections {
    background-color: #78001e;
    color: beige;
}

.h2 {
    font-size: 30px;
    border-bottom: 4px solid #fbc71e;
    margin-bottom: 20px;
}

.imgs {
    height: 100%;
    width: 100%;
}

/*MAIN SECTION END*/

/*WELCOME SECTION START*/

#welcome {
    height: calc(100vh - 15vh);
}

#welcome h1 {
    font-size: 45px;
    letter-spacing: 5px;
    color: #fbc71e;
    margin: 20px;
    border-bottom: 6px solid #fbc71e;
}

#welcome p {
    font-size: 25px;
    letter-spacing: 2px;
}

/*WELCOME SECTION END*/

/*TERMS AND CONDITIONS START*/

#conditions  h2 {
    color: beige;
}

.terms {
    font-size: 20px;
    padding: 5px;
    border: 4px solid #fbc71e;
    border-radius: 25px;
}
/*TERMS AND CONDITIONS END*/

/*EXAMPLES START*/
#slider {
    width: 100%;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}

#slider img {
    width: 100%;
    position: sticky;
    left: 0;
    object-fit: fill;
    scroll-snap-align: center;
}

.arrowdiv {
    color: #fbc71e;
    width: 100%;
    position: relative;
    top: 20px;
    font-size: 25px;

}

/*EXAMPLES END*/

/*PRICES START*/
#prices ul {
    font-size: 28px;
}

#prices ul p {
    border-bottom: 6px solid #bd0042;
}
/*PRICES END*/

/*FOOTER START*/
footer {
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

footer button {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
    border:none;
    font-size: 20px;
    color: antiquewhite;
    background: none;
    margin-right: 20px;
}

footer a {
    width: 40px;
    font-size: 40px;
    color: antiquewhite;
}
/*FOOTER END*/